In [ ]:
#Q1
#Database is a collection of data organised for efficient storage, retrievel and management of the data.
#SQL Database: They follow a fixed pre-defined structure. Used to store complex queries.
#NOSQL Database: They don't require a defined structure. Usually used for storing real-time data.

In [ ]:
#Q2
#Data Defination Language (DDL) is used to define and manage the structure of a database.
#Create: it is used to create database objects like table.
#Example: CREATE TABLE table1(C1 int, C2 varchar(34), C3 varchar(80));
#Drop: it is used to delete database objects.
#Eg: DROP TABLE table1;
#Alter: it is used to modify database objects.
#Eg: ALTER TABLE table1 Add COLUMN C4 int;
#Truncate: it deletes all the data from the table while retaining its structure.
#TRUNCATE TABLE table1;

In [ ]:
#Q3
#Data Manupulation Language (DML) is used to manupulate data in the database.
#Insert: used to insert data in a table.
#Eg: INSERT INTO table1 values(1, John, DSA)
#Update: modiefies the values of the table
#Eg: UPDATE table1 SET C1=3 WHERE C3=DSA;
#Delete: deletes the values of the table
#Eg: DELETE FROM table1 WHERE C3=DSA;

In [ ]:
#Q4
#Data Query Language (DQL) is used to get required filtered data.
#Select: it is used to get the defined selected data from the table.
#Eg: SELECT * FROM table1;

In [ ]:
#Q5
#Primary key is a unique identifier for the records in a table.
#Foreign key is used to get the primary key data in another table.

In [ ]:
#Q6
"""import mysql.connector
conn=mysql.connector.connect(host="local_host", user="user_name", password="user_password")
mycursor=conn.cursor()
mycursor.execute(CREATE DATABASE db;)
mycursor.close()"""
#cursor object is created through which we execute SQL queries through python.
#execute method is used to execute SQL queries in python.

In [ ]:
#Q7
#FROM- WHERE - GROUP BY - SELECT - ORDER BY